* {
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: #c2dafd;
}



.logo{
    height: 305.7px;
    width: 260px;
   position: relative;
   left: -8px;
}

.wrapper{
 
     width: 400px;
     position: relative;
     margin: 50px auto;
     text-shadow:-1px 0 #181A18, 0 1px #181A18, 1px 0 black, 0 -1px #181A18;
    
}

.card {
    color: #272d36;
  height: 285px;
  width: 450px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #fefefe;
    transition: transform 800ms ease-in-out;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    perspective: 250px;
    margin-bottom: 10px;
    border-radius: 2.5px;
    border: 4px outset #22262f;
   
}


.wrapper:hover .front {
  transform: rotateY(-180deg);
}

.back {
  transform: rotateY(180deg);
}

.wrapper:hover .back {
  transform: rotateY(0deg);
}

.name{
      display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 25px
}

.listy {
          display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: transparent;
  border-radius: 5px;
  border: 0;
  transition: background-color 350ms ease-in-out;
  height: 25px;
  width: 25px
 
}

button:hover {
  background-color: #c1dbfc;
}

.button__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-icons {
        display: flex;
    justify-content: center;
    align-items: flex-end;
   
}

.back-text {
    padding: 100px;
}